.busqueda{
    background: whitesmoke;
    color: aqua;
    border-radius: 10px;
    border-color: aqua;
    width: 90px;
    height: 25px;
    font-weight: bold;
}
.mas{
    color: white;
    background: aquamarine;
    border-radius: 50%;
    border-color: aquamarine;
    width: 40px;
    height: 30px;
}

.crear{
    background-color: rgb(99, 99, 241);
    color: white;
    border-color: black;
    height: 40px;
    width: 120px;

}

div{
    margin:20px 10px
}